<div class="position-relative">
    <!-- Hero for FREE version -->
    <section class="section section-lg section-hero section-shaped">
      <!-- Background circles -->
      <div class="shape shape-style-1 shape-primary">
        <span class="span-150"></span>
        <span class="span-50"></span>
        <span class="span-50"></span>
        <span class="span-75"></span>
        <span class="span-100"></span>
        <span class="span-75"></span>
        <span class="span-50"></span>
        <span class="span-100"></span>
        <span class="span-50"></span>
        <span class="span-100"></span>
      </div>
      <div class="container shape-container d-flex align-items-center py-4">
        <div class="col px-0">
          <div class="row align-items-center justify-content-center">
            <div class="col-lg-6 text-center">
              <h1 class="text-white">OPEN SOURCE SECURITY PROJECT</h1>
              <p class="lead text-white">An open source project to secure all phases of software development lifecycle.</p>
                
              <div class="btn-wrapper mt-5">
                <a href="" class="btn btn-lg btn-white btn-icon mb-3 mb-sm-0">
                  <span class="btn-inner--icon"><i class="ni ni-cloud-download-95"></i></span>
                  <span class="btn-inner--text">Download Project</span>
                </a>
                <a href="" class="btn btn-lg btn-github btn-icon mb-3 mb-sm-0" target="_blank">
                  <span class="btn-inner--icon"><i class="fa fa-github"></i></span>
                  <span class="btn-inner--text">
                    <span class="text-warning">Star</span> on Github</span>
                </a>
              </div>
            </div>
          </div>

          <!-- <div class="row justify-content-around py-5 text-center">


<div class="card" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">Threat Modelling</h5>
      <p class="card-text">Threat modeling is a process by which potential threats, such as structural vulnerabilities or the absence of appropriate safeguards, can be identified, enumerated, and mitigations can be prioritized.</p>
    </div>
  </div>
  


  <div class="card" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">SAST</h5>
      <p class="card-text">Static application security testing (SAST), or static analysis, is a testing methodology that analyzes source code to find security vulnerabilities that make your organization’s applications susceptible to attack.</p>
    </div>
  </div>
  
  <div class="card" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">DAST</h5>
      <p class="card-text">Dynamic Application Security Testing (DAST) is a black-box security testing methodology in which an application is tested from the outside. A tester using DAST examines an application when it is running and tries to hack it just like an attacker would.</p>
    </div>
  </div>

  <div class="mt-5">
    <small class="text-white font-weight-bold mb-0 mr-2">Developed by Preetham Nagesh</small>
  </div>
    
          </div> -->
        </div>
      </div>
      <!-- SVG separator -->
      <div class="separator separator-bottom separator-skew zindex-100">
        <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg">
          <polygon class="fill-white" points="2560 0 2560 100 0 100"></polygon>
        </svg>
      </div>
    </section>
  </div>

  <div class="section">
      <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2>Site under construction ....</h2>
            </div>
        </div>
      </div>
  </div>