<div class="position-relative">
    <!-- Hero for FREE version -->
    <section class="section section-lg section-hero section-shaped">
      <!-- Background circles -->
      <div class="shape shape-style-1 shape-primary">
        <span class="span-150"></span>
        <span class="span-50"></span>
        <span class="span-50"></span>
        <span class="span-75"></span>
        <span class="span-100"></span>
        <span class="span-75"></span>
        <span class="span-50"></span>
        <span class="span-100"></span>
        <span class="span-50"></span>
        <span class="span-100"></span>
      </div>
      <div class="container shape-container d-flex align-items-center py-4">
        <div class="col px-0">
          <div class="row align-items-center justify-content-center">
            <div class="col-lg-6 text-center">
                <img src="./assets/img/brand/OSS Project.png" style="width: 300px;" class="img-fluid py-4">
              <p class="lead text-white">An open source project aimed at improving security of an application right from the beginning of development concentrating on Threat Modelling, SAST and DAST.</p>
                
              <div class="btn-wrapper mt-5">
                <a href="" class="btn btn-lg btn-white btn-icon mb-3 mb-sm-0">
                  <span class="btn-inner--icon"><i class="ni ni-cloud-download-95"></i></span>
                  <span class="btn-inner--text">Download Project</span>
                </a>
                <a href="" class="btn btn-lg btn-github btn-icon mb-3 mb-sm-0" target="_blank">
                  <span class="btn-inner--icon"><i class="fa fa-github"></i></span>
                  <span class="btn-inner--text">
                    <span class="text-warning">Star</span> on Github</span>
                </a>
              </div>
            </div>
          </div>

          <div class="row py-4">
            <div class="col text-center">
                <h5 class="text-white">Developed by Preetham Nagesh</h5>
            </div>
          </div>
          
        </div>
      </div>
      <!-- SVG separator -->
      <div class="separator separator-bottom separator-skew zindex-100">
        <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg">
          <polygon class="fill-white" points="2560 0 2560 100 0 100"></polygon>
        </svg>
      </div>
    </section>
  </div>

  <div class="section">
      <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <h5 class="card-header">Threat Modelling</h5>
                    <div class="card-body">
                      <h5 class="card-title">Stage #1 in Secure SDLC</h5>
                      <p class="card-text">Threat modeling is a process by which potential threats, such as structural vulnerabilities or the absence of appropriate safeguards, can be identified, enumerated, and mitigations can be prioritized.</p>
                      <a href="#" class="btn btn-primary">Learn More</a>
                    </div>
                  </div>
            </div>
        </div>
        <div class="row pt-5">
            <div class="col-lg-12">
                <div class="card">
                    <h5 class="card-header">SAST - Static Application Security Testing</h5>
                    <div class="card-body">
                      <h5 class="card-title">Stage #2 in Secure SDLC</h5>
                      <p class="card-text">Static application security testing (SAST) is a set of technologies designed to analyze application source code, byte code and binaries for coding and design conditions that are indicative of security vulnerabilities.</p>
                      <a href="#" class="btn btn-primary">Learn More</a>
                    </div>
                  </div>
            </div>
        </div>

        <div class="row pt-5">
            <div class="col-lg-12">
                <div class="card">
                    <h5 class="card-header">DAST - Dynamic Application Security Testing</h5>
                    <div class="card-body">
                      <h5 class="card-title">Stage #3 in Secure SDLC</h5>
                      <p class="card-text">Dynamic Application Security Testing (DAST) is a black-box security testing methodology in which an application is tested from the outside. A tester using DAST examines an application when it is running and tries to hack it just like an attacker would.</p>
                      <a href="#" class="btn btn-primary">Learn More</a>
                    </div>
                  </div>
            </div>
        </div>
      </div>
  </div>